@import url(../../../src/index.css);

.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.toggle {
    color: var(--color-primary);
    transition: color var(--animation-duration);
}

.toggle:hover {
    color: var(--color-primary-dark);
}

.menu {
    margin: 0;
    display: flex;
}

.menuButton {
    color: var(--color-font);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    transition: color var(--animation-duration);
}

.menuButton.dark {
    color: var(--color-font-contrast);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    transition: color var(--animation-duration);
}

.menuButton.active {
    color: var(--color-primary);
}

.menuButton.active.dark {
    color: var(--color-primary);
}

.menuButton:hover {
    color: var(--color-primary-dark);
}

.menuItem {
    display: flex;
    align-items: center;
}