@import url(../src/index.css);

.appWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-dark);
}

.todoApp {
  padding: 20px;
  width: 500px;
  height: 500px;
  background-color: var(--color-bg);
  border-radius: 16px;
  box-shadow: 4px 4px 4px var(--color-white-dark);
  transition: background-color var(--animation-duration);
}